.rich-text {
    ul,
    ol {
      padding: 0 1rem;
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
    }

    h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    h3 {
        display: block;
        font-size: 1.2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    a {
        color: blue;
        text-decoration: underline;

        &:visited {
            color: purple;
        }
        &:hover {
            cursor: pointer;
        }
    }
    p {
        font-size: 12px;
        @media (min-width: 600px) {
            font-size: 14px;
        }
        @media (min-width: 992px) {
            font-size: 16px;
        }
    }
}